name: release
on:
  push:
    branches:
      - main
  pull_request:
permissions:
  contents: read
jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    environment: ${{ github.ref == 'refs/heads/main' && 'release' || '' }}
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
      - uses: raviqqe/pnpm-publish@v2
        with:
          release: ${{ github.ref == 'refs/heads/main' }}
